@page "/admin/edit-user-claim/{userid?}"
@model ASP_EF.Areas.Admin.Pages.User.EditUserRoleClaimModel
@{
    ViewData["Title"] = "Claim của User";
}

<h1>@ViewData["Title"]: @Model.User.UserName</h1>
<partial name="_StatusMessage" for="StatusMessage" />

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.ClaimType" class="control-label"></label>
                <input asp-for="Input.ClaimType" class="form-control" />
                <span asp-validation-for="Input.ClaimType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ClaimValue" class="control-label"></label>
                <input asp-for="Input.ClaimValue" class="form-control" />
                <span asp-validation-for="Input.ClaimValue" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                @if(Model.UserClaim != null)
                {
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    <input type="submit" value="Xóa" asp-route-claimid="@Model.UserClaim.Id" asp-page-handler="DeleteClaim" class="btn btn-danger" />
                }
                else
                {
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                }

                <a class="btn btn-secondary" asp-page="./AddRole" asp-route-id="@Model.User.Id">Chỉnh sửa User</a>
            </div>
        </form>
    </div>
</div>