@page "/admin/edit-role/{roleid}"
@model ASP_EF.Areas.Admin.Pages.Role.EditModel
@{
    ViewData["Title"] = "Cập nhật role";
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Cập nhật" class="btn btn-success" />
                <a class="btn btn-secondary" asp-page="./Index">Danh sách các role</a>
            </div>
        </form>
    </div>
</div>