@page "/su-dung-dich-vu-ngoai/"
@model ExternalLoginModel
@{
    ViewData["Title"] = "Tạo hoặc liên kết với dịch vụ ngoài";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Liên kết với tài khoản @Model.ProviderDisplayName.</h2>
<hr />

<p id="external-login-description" class="text-info">
    bạn đã xác thực thành công từ <strong>@Model.ProviderDisplayName</strong>.
    Hãy nhập địa chỉ Email để tạo hoặc liên kết
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Vui lòng nhập Email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đăng ký</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
