@page "/can-xac-thuc-email-dang-ky/"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực email";
}

<h1>@ViewData["Title"]</h1>
<p>Bạn cần truy cập vào email để biết cách xác thực tài khoản</p>

