@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn đã thay đổi mật khẩu thành công. Vui lòng <a asp-page="./Login">bấm vào đây để đăng nhập</a>.
</p>
