@page "/user/personal-data"
@model PersonalDataModel
@{
    ViewData["Title"] = "Dữ liệu cá nhân";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Bạn có thể tải dữ liệu cá nhân về hoặc xóa hoàn toàn thông tin trên RazorWeb.</p>
        <p>
            <strong>Nếu xóa tài khoản thì không thể phục hồi.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Tải dữ liệu</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="mt-2 btn btn-danger">Xóa tài khoản</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
